.NewsList {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    border-bottom: 1px solid #dfdfdf;
    &:last-child {
      border-bottom: none;
    }

    > a {
      display: block;
      padding: 25px 10px;

      &:hover, &:focus {
        background-color: #fafafa;
        .NewsList__article-name {
          text-decoration: underline;
        }
      }

      @media (min-width: 600px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

  }

  &__article-title {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1em;
    color: #666;
    small {
      color: #aaa;
    }
  }

  &__preview-image {
    vertical-align: middle;
    margin-right: 15px;
  }
}
